<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/images/Logo Amarelo.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- NAV -->
    <nav class="navbar">
        <div class="logo">
            <a href="#"><img src="images/Logo Amarelo.png" alt="Logo"></a>
        </div>

        <ul class="nav-links">
            <li><a href="#">Para você</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Blog</a></li>
        </ul>

        <div class="nav-actions">
            <button id="authButton" class="auth-btn">
                Acesse/Crie sua conta
            </button>
        </div>
    </nav>

    <section class="hero">
        <div class="hero-content">
            <h1>Bem-vindo ao <b>Banco Malvader</b></h1>
            <p>Seu futuro financeiro começa aqui.</p>
        </div>
    </section>

    <section class="content">
        <h2>Seção de Teste</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <p>
            Mais texto para gerar rolagem...  
            Mais texto para gerar rolagem...  
            Mais texto para gerar rolagem...  
            Mais texto para gerar rolagem...  
        </p>
    </section>

    <script src="js/index.js"></script>
</body>
</html>